spring:
  application:
    name: payment-service

  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:postgresql://localhost:5432/payment_service
    username: postgres
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080

stripe:
  secret-key: ${STRIPE.SECRET.KEY}
  publishable-key: ${STRIPE.PUBLISHABLE.KEY}
  webhook-secret: ${STRIPE.WEBHOOK.SECRET}
  webhook:
    dev-mode: "false"

jwt:
  secret: ${JWT.SECRET}
  expiration-seconds: 86400